<footer class="page-footer font-small blue navbar-dark bg-dark mt-auto">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">
      © 2020 Copyright:
      <a href="/">Edited by sang.danghs0812@hcmut.edu.vn</a>
    </div>
    <!-- Copyright -->

  </footer>
