<h1>Bạn có chắc muốn xóa?</h1>
<form method="POST" action="/deleteEnd/{{tk.Mataikhoan}}/?_method=DELETE">
   <button type="submit" class="btn btn-primary">OK</button>
   <a href="/" class="btn btn-primary">Quay lại trang chủ</a>
</form>